/* 页面公共部分的CSS */

body {
    background-color: #f1f2f6;
}

.common-main {
    margin-top: .5rem;
}

.common-left {
    background-color: #fff;
    padding: .3rem;
    border-radius: .3rem;
    border-bottom: 1px solid #eee;
}

.common-box {
    background-color: #fff;
    margin-left: .5rem;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
}

.list-title{
    font-size:1.3rem;
    color: #1e90ff;
    padding: 0 0.5rem;
}
.list-context{
    color:#777;
    padding:.5rem;
}
.list-icon{
    padding:.5rem 0;
    color:#AAA;
}
.list-icon span{
    display: inline-block;
    padding: 0 10px;
}