.author-div{
    padding: 1rem;
    text-align: center;
    background: rgba(189, 195, 199,.1);
}

.author-div div {
    margin: .5rem 0;
}

.author-introduction{
    font-size: .9rem;
    color: rgba(52, 73, 94,1.0);
}


.account{
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
    cursor: pointer;
}